@{
    ViewBag.Title = "Главная";
}

<div class="my-4 p-5 bg-secondary text-white rounded">
    <h1 class="text-center">Тестовое приложение</h1>
    <p>
       Тестовое приложение для изучения новых 
        способов валидации моделей на основе систем HTMX.
    </p>
</div>

